* {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card {
    border: 1px solid #0994B3;
    box-shadow: 0 0 5px #044a5a;
    width: 300px;
    height: 200px;
    margin: 20px;
    border-radius: 7px;
    transition: 0.3;
    animation: ease-in-out;
}
.card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}
.image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    margin-top: 20px;
}
.btn button {
    background-color: #fff;
    color: hsl(191, 90%, 37%);
    font-size: 35px;
    justify-content: center;
    display: flex;
    text-decoration: double;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    outline: none;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 20px;
}
.btn {
    display: flex;
    justify-content: center;
}
.dashboard-card {
    width: 80%;
    text-align: center;
    margin-left: 10%;
}
.dashboard-card > .card {
    display: inline-block;
}
.container {
    
}